<h1>Main page</h1>
<!-- <p>Find me in app/views/welcome/index.html.erb</p> -->


<% unless user_signed_in? %>
	<%= link_to 'Sign in', new_user_session_path %>
	<%= link_to 'Sign up', new_user_registration_path %>
<% else %>
	<strong>
		<%= current_user.email %>	
	</strong>
	
	<%= link_to 'Sign out', destroy_user_session_path, data: {method: 'delete', confirm: 'Are you sure?'} %>
	<h4><%= link_to 'Events', events_path %>	</h4>
<% end %>	

