<% if @event.errors.any? %>
<div class="alert alert-danger">
  <h5><%= t('common.errors')%></h5>
  <ul>
    <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<%= form_with model: @event, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </p>
 
  <p>
    <%= form.label :tag %><br>
    <%= form.text_field :tag, class:'form-control' %>
  </p>
  <p>
    <%= form.label  'Scheduled date' %><br>
    <%= form.text_field :scheduled_date, class: 'datepicker form-control' %>
  
  </p>
  <p>
    <strong><%= label_tag "Event's status:" %><br></strong>
    
      <%= form.radio_button :complete, "false", :checked => true %>
      <%= form.label :complete, "Uncomplete" %><br>
      
      <%= form.radio_button :complete, "true"  %>
      <%= form.label :complete, "Complete"  %>
  </p>


  <p>
    <%= form.submit class: 'btn btn-primary' %>
  </p>
<% end %>