<!DOCTYPE html>
<html>
  <head>
    <title>ProvectusInternTask</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'icons8-icons8-96.png' %>
  </head>

  <body>
  		 <%= render 'layouts/navbar' %> <!-- rendering navbar of site from app/views/layouts/_navbar.html.erb -->


	
  <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <%= yield %>
    <footer class="footer">
    	Place for content in footer
    	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </footer>
  </div>  	
  	   
  </body>
</html>
